#cc {
	perspective: 100vmin
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
#cube {
	--size: 30vmin;
	--x: 0;
	--y: 0;
	height: var(--size);
	width: var(--size);
	position: relative;
	transform: rotateX(-35.264389682754deg) rotateY(45deg);
	transform-style: preserve-3d;
}
.cube {
	--ct: 0, 0, 0;
	box-sizing: border-box;
	border: 2px solid var(--fg);
	position: absolute;
	height: calc(var(--size) + 1px);
	width: calc(var(--size) + 1px);
}
.cube:nth-of-type(1),
.cube:nth-of-type(2),
.cube:nth-of-type(3) {
	--cf: -2;
	transform: translate3d(0, 0, calc(var(--size) / var(--cf))) translate3d(var(--ct));
}
.cube:nth-of-type(2) {
	--cf: 2;
}
.cube:nth-of-type(4),
.cube:nth-of-type(5),
.cube:nth-of-type(6) {
	--cf: -2;
	transform: rotateY(90deg) translate3d(0, 0, calc(var(--size) / var(--cf))) translate3d(var(--ct));
}
.cube:nth-of-type(5),
.cube:nth-of-type(6) {
	--cf: 2;
}
.cube:nth-of-type(7),
.cube:nth-of-type(8),
.cube:nth-of-type(9) {
	--cf: -2;
	transform: rotateX(90deg) translate3d(0, 0, calc(var(--size) / var(--cf))) translate3d(var(--ct));
}
.cube:nth-of-type(8) {
	--cf: 2;
}
.cube:nth-of-type(3),
.cube:nth-of-type(6),
.cube:nth-of-type(9) {
	border-width: 0 2px 2px 0;
	border-color: #444;
}
.cube:nth-of-type(3) {
	--ct: 1px, 1px, -1px;
}
.cube:nth-of-type(6) {
	--ct: 1px, 1px, 1px;
}
.cube:nth-of-type(9) {
	border-width: 2px 2px 0 0;
	--ct: 1px, -1px, -1px;
}
.cube:nth-of-type(1),
.cube:nth-of-type(5),
.cube:nth-of-type(7) {
	border-width: 2px 0 0 2px;
}
.cube:nth-of-type(7) {
	border-width: 0 0 2px 2px;
}
